################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/CSHARP-Geofrey-PDP/v17/.wsuo
/.vs/Exercise Array_list _Exercise1/FileContentIndex/e5a81626-07d7-436f-925d-3c73ed66a07b.vsidx
/.vs/Exercise Array_list _Exercise1/v17/.suo
/.vs/ProjectSettings.json
/.vs/slnx.sqlite
/.vs/VSWorkspaceState.json
/.vs/Exercise Array_list _Exercise1/DesignTimeBuild/.dtbcache.v2
/.vs/Exercise Array_list _Exercise1/FileContentIndex/b51e5ce9-c267-4a62-843e-ea663162cd81.vsidx
/.vs/Exercise Array_list _Exercise1/FileContentIndex/c7304182-18ba-4b3b-a1d1-ca9eb7e164c0.vsidx
/TEstProject/bin/Debug/net6.0
/TEstProject/obj/Debug/net6.0
